html, body {
  height: 100%;
  margin: 0%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.inline {
  float: left;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.inline > .background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-clip: border-box;
  transition: filter .9s ease-in-out;
}

.inline > .backgroundTouched {
  filter: opacity(85%);
}

.inline > .background-center {
  background-image: url("../img/center.png");
}


.inline > .dot {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 70%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);

}



img {
height: 50%;
width: 50%;

}

img{
-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease;
}
img:hover {
-o-transition: all 0.013s;
-moz-transition: all 0.012s;
-webkit-transition: all 1s;
-moz-transform: scale(1.7);
}
